<div class="list row">
  <div class="col-md-12">
    <div class="input-group my-1">
      <input
        type="text"
        class="form-control mx-2"
        placeholder="Search by name"
        [(ngModel)]="searchName"
      />
      <select [(ngModel)]="relevance" class="mx-2 form-control">
        <option selected value="">Select relevance...</option>
        <option value="znamenito">Znamenito</option>
        <option value="veoma znamenito">Veoma Znamenito</option>
        <option value="nezaobilazno">Nezaobilazno</option>
      </select>
      <div class="input-group-append">
        <button
          class="btn btn-outline-secondary mx-2"
          type="button"
          (click)="searchSights()"
        >
          Search
        </button>
      </div>
    </div>
  </div>
  <div class="col-md-12 cardContainer mt-4">
    <div class="card m-2 sightCard" *ngFor="let sight of sights">
      <img class="card-img-top p-2" [src]="sight.images![0].url " alt="Sight image">
      <div class="card-body">
        <h5 class="card-title">{{ sight.name }}</h5>
        <p class="card-text">{{ sight.description }}</p>
        <a class="btn btn-primary" routerLink="/sight/{{ sight.id }}"> Show </a>
      </div>
    </div>
  </div>
</div>
