<div *ngIf="sightId" class="row p-2 align-items-center">
  <div class="col-md-4 my-2 my-md-0">
    <span class="align-middle">Rating: {{ rating }}</span>
  </div>

  <div class="col-md-8">
    <div class="row">
      <div class="col-md-4 col-6">
        <input
          type="number"
          class="form-control"
          min="1"
          max="5"
          placeholder="number"
          [(ngModel)]="rate"
        />
      </div>
      <div class="col-md-8 col-6">
        <button type="button" class="btn btn-primary" (click)="setRating()">
          New rating
        </button>
      </div>
    </div>
  </div>
</div>
